.entry_box{
   
    color: #F0EDE5;
    width: 30%;
    .note_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "bona nova";
    }

    .note_actions{

        button{
        color: #F0EDE5;
        font-family: "bona nova";
        background-color: transparent;    
        border: none; 
        font-size: 18px;
        }
        

    }

    .note_title{

      max-width:70% ;

      @media screen and (max-width: 1024px){
        width: 70%;

      }
      @media screen and (max-width: 450px){
        font-size: 15px;
      }

    }

    .note_date{

        @media screen and (max-width: 1024px){
            width: 40%;
            font-size: 18px;
    
          }

          @media screen and (max-width: 450px){
            font-size: 15px;
          }
    }
}