// Global conrainer
.rituals_container {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "bona nova";
  color: #2f4933;

//   main title
  h1 {
    text-align: center;
    color: #2f4933;
    font-weight: 400;
    font-size: 50px;
// Capital letter
    span {
      font-family: "Monsieur la doulaise";
      font-size: 80px;
    }
  }
//   other title
  h2 {
    font-family: "bona nova";
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;

    span {
      font-family: "Monsieur la doulaise";
      font-size: 65px;
    }
  }
// container for the boxes
  .box_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5% 0;

    .box_row_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .meditation_box,
      .yoga_box {
        border-radius: 20px;
        width: 31%;
        // margin: 0 2%;
        height: 35vh;
        color: #f0ede5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
      }

      .yoga_box{
        width: 48%;
      }

      .one {
        background-color: #2f4933;
      }

      .two {
        background-color: #d4a373;
      }

      .three {
        background-color: #decbb7;
      }

      .rituals_number{
        text-align:start ;
        font-size: 40px;
        margin: 17px;
        font-family: "Libre Barcode EAN13 Text";
      }

      .box_title {
        margin: auto;
        font-family: "bona nova";
        font-size:25px ;
      }

      .arrow{
        align-self: end;
        margin: 17px;
      }
    }


  }
}
.rituals_link{
        display: flex;
        flex-direction: row;
        color: #f0ede5;
        margin-bottom: 5%;
        p{
        font-size: 25px;
        padding-right: 30px;
        }
    }