// global container

.articles_container {
  padding: 0 70px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 430px) {
    padding: 0 10px;
  }

  // title
  h2 {
    font-family: "Inter", sans-serif;
    color: #2f4933;
    font-weight: 400;
    font-size: 60px;
    @media (max-width: 430px) {
      font-size: 22px;
    }

    // capital letter
    span {
      font-family: "Monsieur La Doulaise", serif;
      font-size: 110px;
    }

    @media (max-width: 430px) {
      margin-top: 10%;
      font-size: 60px;
    }
  }

  // section boxes
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
    a{
      @media (max-width: 1024px){
        width: 100%;
      }
    }

    .box {
      width: 400px;
      height: 370px;
      border-radius: 20px;
      background-color: #2f4933;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      

      @media (max-width: 1024px) {
        width: 890px;
        max-width: 100%;
        height: 350px;
        margin: 4% auto;
       
      }
      @media (max-width: 800px){
        width: 700px;
       
      }

      @media (max-width: 430px) {
        height: 200px;
        width: 350px;
      }

      // numbers
      p {
        color: #f0ede5;
        font-family: "Libre Barcode EAN13 Text", system-ui;
        font-size: 40px;
        margin: 17px;
        
        @media (max-width: 1024px) {
          font-size: 80px;
        }

        @media screen and (max-width: 430px){
          font-size: 40px;
        } 
      }
    }
    .b {
      background-image: url("../assets/images/Instagram\ @bivi_sii\ 1.png");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;

      @media (max-width: 1024px) {
      }
      background-position: 0px 30%;
    }

    .c {
      background-color: #decbb7;
    }

    .arrow {
      align-self: end;
      @media (max-width: 1024px) {
        width: 90px;
        height: 90px;

        @media screen and (max-width: 430px){
          width: 50px;
          height: 50px;
        }
      }
    }

    // Practices
    .rituals {
      width: 48%;
      background-color: #d4a373;
      display: flex;
      flex-direction: column;
      color: #f0ede5;
      font-size: 40px;
      font-family: "inter";
      cursor: pointer;

      @media screen and (max-width: 1024px){

        width: 100%;
    
      } 
    }

    .affirmations {
      width: 48%;
      background-color: #decbb7;
      display: flex;
      flex-direction: column;
      color: #f0ede5;
      font-size: 40px;
      font-family: "inter";
      cursor: pointer;

      @media screen and (max-width: 1024px){

        width: 100%;
    
      } 
    }
  }
}
.practices_container {
  justify-content: space-between;
  margin-bottom: 10%;

  .bottom_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 2%;

    a{
      text-decoration: none;
      color: #f0ede5;

      span{
         @media screen and (max-width: 430px){
        font-size: 30px;
      }
      }
     
    }
  }
}
