// Global container
.header_container {
  background-color: #a8b89a;
  padding: 70px;
  
}

// Content container - especially background image
.header {
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  font-size: 18px;
}

// header2
.header_nobg{
  font-size: 18px;
  border-bottom: 1px solid #2F4933;
  padding-bottom: 50px;
}

.header_hitomi{
  background-image: url(../assets/images/hitomi_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  font-size: 18px;
}

// Logo and login spacing
.top_part {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 13px;

  .logo {
    grid-column: 2/3;
    grid-row: 2 / span 1;
  }

  .login_logo {
    justify-self: end;
    grid-column: 3/3;
    grid-row: 2 / span 1;
    margin-right: 40px;
  }
}

// Navigation
.nav {
  // display: grid;;
  // grid-template-columns: repeat(5, 1fr);
  border: 1px solid blue;
  width: 40%;
  justify-self: center;
  align-items: center;
  justify-items: center;

  .nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 80%;

    li {
      a {
        text-decoration: none;
        color: #f0ede5;
      }
    }

  }
  
  // dropdown
  .dropdown {
    size: 16px;
    
    
  }

  .dropdown_btn {
    border: none;
    background-color: transparent;
    color: #f0ede5;
    cursor: pointer;

    a{
        font-size: 18px;
        size: 18px;
    }
  }

  .dropdown_menu {
    position: absolute;
    right: 34%;
  }
}
