.diaryentries_container {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 9%;

  h1{
    font-family: "Bona Nova";
    color: #2F4933;
    font-weight: 400;
    font-size: 75px;
    text-align: center;
    @media screen and (max-width: 850px){
      font-size: 50px;
    }

    @media screen and (max-width: 420px){
      font-size: 22px;
          }
   span{
    font-family: "Monsieur La doulaise";
    font-size: 120px;
    @media screen and (max-width: 850px){
    font-size: 90px;

    }

    @media screen and (max-width: 420px){
font-size: 60px;
    }
   }
  }
}

.controls_container {
  text-align: center;
  margin-bottom: 40px;
  border: transparent;

  button{
    border: transparent;
    background-color: transparent;
    color: #2F4933;
    font-family: "bona nova";
    font-size: 26px;

    @media screen and (max-width: 420px){
      font-size: 21px;
          }
  }
}

.entriesbox_container {
  display: flex;
  gap: 70px;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
 @media screen and (max-width: 1024px) {
  gap: 20px;
 }

 @media screen and (max-width: 850px) {
  gap: 40px;
  width: 100%;
 }
 @media screen and (max-width: 420px) {
  flex-direction: column;
 }
}

.no_entries{
  text-align: center;
  font-family: "bona nova";
  color: #2F4933;
  margin: auto;
  font-size: 20px;
}

.entry_box {
  border-radius: 20px;
  width: 27%;
  height: 30vh;
  color: #f0ede5;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1024px){
    height: 20vh;
  }

  @media screen and (max-width: 850px){
    width: 40%;
  }

  @media screen and (max-width: 420px){
    width: 85%;
  }
}

.entry_box p {
  margin: 0;
}

.note-detail {
  position : absolute;
  background-color: #f0ede5;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.entry_box {
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0ede5;
  }
}
