@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.body {
    background-color: #A8B89A;

    .bona-nova-regular {
        font-family: "Bona Nova", serif;
        font-weight: 400;
        font-style: normal;
      }

      a{
        text-decoration: none;
      }
}

// *{
//   border: 2px solid red;
// }